---

---

<div
  class="relative flex items-center justify-center overflow-hidden max-w-6xl mx-auto mb-12"
  aria-labelledby="hero-title"
>
  <img
    src="https://images.pexels.com/photos/302897/pexels-photo-302897.jpeg"
    class="rounded-2xl w-full h-auto brightness-70"
    alt=""
  />
  <div class="absolute top-1/2 left-10 flex flex-col gap-3">
    <h1
      id="hero-title"
      class="font-bold text-5xl leading-13 md:text-5xl max-w-lg text-white font-display"
    >
      La riqueza de la tierra en cada taza
    </h1>
    <p class="text-white/80 max-w-lg">
      En nuestro café, cada sorbo es un viaje a las raíces de la tierra. Desde
      el cultivo hasta la taza, celebramos la conexión entre el café y su
      origen, ofreciendo una experiencia auténtica y llena de sabor.
    </p>
    <a
      href="/carta"
      class="text-black bg-background px-4 py-2 rounded-xl font-semibold w-fit mt-1"
      >Ver la carta</a
    >
  </div>
</div>
